<h1>Meetups</h1>

<div id="meetuplist">
  <ul>
    <% @meetups.each do |meetup| %>
      <li><a class ="meetup-<%meetup.id%>" href="/meetups/<%= meetup.id %>"><%= meetup.name %></a></li>
    <% end %>
  </ul>
</div>

<a href="/meetups/create_new">Create New Meetup</a>
